body {
    background-color: #181B24;
    max-width: 1440px;
    max-height: 1024px;
    overflow-x: hidden;
    margin: 0;
    font-family: "Inter";
   
}

.apresentacao {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 80px;
    left: 160px;
}

.right_tela {
    background-color: #F2F2F2;
    width: 547px;
    height: 591px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
    

}

.titulo {
    color: black;
    margin: 0;
    text-shadow: 0 0.2em 0.2em gray;
    
    
}


.text_input > input {
    width: 399px;
    height: 49px;
    border-radius: 10px;
    border-color: #D9D9D9;

}

.text_input > label {
    width: 43px;
    height: 20px;
    padding-left: 3px;
    background-color: #F2F2F2 ;
    color: #46494C;
    display: flex;
    flex-direction: column; 
    border: none;
    position: relative;
    top: 12px;
    left:  15px;

}

.text_input > input::placeholder {
    border-radius: 20px;
    color: gray;
    padding: 15px;
    
}

.olho {
    position: relative;
    left: 370px;
    bottom: 35px;
}

.esqueci_senha {
    position: relative;
    left: 130px;
    bottom: 20px;
    color: #105F74;
    padding-bottom: 20px;
    
    

}
 .entrar {
    width: 400px;
    height: 49px;
    border: 0;
    color: #FFFFFF;
    background-color: #105F74;
    font-weight: 800;
    border-radius: 10px;
 }

 .registrar {
    border: 0;
    color: #105F74;
    font-weight: 800;
 }

.termos {
    font-size: 17px; 
}


@media (max-width: 800px){

body {
    
}
.apresentacao {

    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
}

.left_logo {
    position: relative;
    
}

}