* {
    font-family: "Inter";
   
}

body {
    max-width: 1440PX;
    height: 100vh;
    background-color: #181B24;
    margin: 0; 
}

.cabecalho {
    background-color: #14161D;  
    max-width: 1440px;
    height: 5.9rem; 
    margin: 0;

    display: flex;
    justify-content: flex-start;
}

.imglogo {
    position: relative;
    top: 15px;
    left: 20px;
}

.barra_busca {
    width: 41.87rem;
    height: 2.18rem;
    background-color: #484848;
    border-radius: 2rem;
    position: relative;
    left: 60px;
    top: 24px;
    display: flex;
    justify-content: space-between; 
}

.imglupa {
    position: relative;
    top: 0.31rem;
    right: 0.625rem;
}

.barra_busca input {
    width: 600px;
    background-color: transparent;
    border: 0;
    position: relative;
    top: 5px;
    left: 10px;

}

.apresentacao {
    height: 100vh;
    background-color: #181B24;
    display: flex;
    justify-content: flex-start;
    padding-top: 40px;
    padding-left: 20px;
}

.secao1 {
    width: 3.5rem;
    height: 70%;
    background-color: #181B24;
    display: flex;
    flex-direction: column;  
    gap:15px  
}

.secao2{
    width: 670px;
    height: 709px;
    background-color: #181B24;

    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;

    gap: 10px;
    position: relative;
    top: 110px;
    margin: 0 50px;
}

.tela_caixa_texto input{
    width: 99%;
    height: 60%;
    background-color: transparent;
    border-color: transparent;
    padding-left: 20px;
    padding-bottom: 40px;
    
}
.caixa_texto {
    width: 670px;
    height: 142px;
    background-color: #181B24;
    border-radius: 20px;
    border: 1px solid #484848;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grupo_caixa_texto{
    padding: 5px 20px;
}

.img3_caixa { /* dar espaçamento no meio das 3 imagens da caixa de textp*/
    position: relative;
    bottom: 5px;
    left: 5px;
}

.botao_postar {
    width: 98px;
    height: 40px;
    position: relative;
    left: 450px;
    bottom: 10px;
    background-color: #22A2F2;
    border-radius: 10px;
    border-color: transparent;
}

.secao2_1 {
    width: 670px;
    height: 709px;
    background-color: #181B24;
    border: 1px solid #484848;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;

  
}

.grupo_feed {
    width: 500px;
    height: 105px;
    background-color: transparent;
    display: flex;
}

.grupo_feed_left {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 20px;

    display: flex;
    position: relative;
    top: 20px;
    gap: 15px;
}


.grupo_feed_right{
    width: 50px;
    height: 50px;
    background-color: transparent;

    display: flex;
    position: relative;
    top: 20px;
    left: 270px;
}

.grupo_feed_left > button {
    background-color: transparent;
    color: white;
    border: 0;
    font-size: 24px;
}

.img_joinha {
    padding: 0 15px;
}

.paragrafo_feed {
    width: 463px;
    height: 52px;
    color: white;
    background-color: transparent;
    position: relative;
    right: 20px;
    bottom: 30px;
}

.secao3 {
    width: 311px;
    height: 370px;
    background-color: transparent;
    border-radius: 20px;
    display: flex;
    flex-direction: column;  
}

.sugestao {
    display: flex; 
    align-items: center;
    position: relative;
    padding-bottom: 20px;
}

.titulo_sugestao {
    color: white;
    font-size: 24px;    
}

.sugestao button{
    height: 30px;
    color: white;
    background-color: transparent;
    border: 0;
}


