
* {
    font-family: "Inter";
   
}

body {
    background-color: #181B24;
    
    margin: 0; 
}

.apresentacao{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    
}
.secao2_1 {
    width: 670px;
    height: 709px;
    background-color: #181B24;
    border: 1px solid #484848;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;

  
}

.grupo_feed {
    width: 500px;
    height: 105px;
    background-color: transparent;
    display: flex;
}

.grupo_feed_left {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 20px;

    display: flex;
    position: relative;
    top: 20px;
    gap: 15px;
}


.grupo_feed_right{
    width: 50px;
    height: 50px;
    background-color: transparent;

    display: flex;
    position: relative;
    top: 20px;
    left: 270px;
}

.grupo_feed_left > button {
    background-color: transparent;
    color: white;
    border: 0;
    font-size: 24px;
}

.img_joinha {
    padding: 0 15px;
}

.paragrafo_feed {
    width: 463px;
    height: 52px;
    color: white;
    background-color: transparent;
    position: relative;

    bottom: 20px;
    right: 20px;

    
}
